@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
@import './container.css';
@import './button.css';
@import './wave.css';
@import './nav.css';
@import './hero.css';
:root{
  --dark-blue-10: hsl(217, 28%, 15%);
  --dark-blue-20: hsl(218, 28%, 13%);
  --dark-blue-30: hsl(216, 53%, 9%);
  --dark-blue-40: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  --raleway: 'Raleway', sans-serif;
  --open: 'Open Sans', sans-serif;
  --gradient: linear-gradient(to right, var(--cyan), var(--blue));
  --wave-bottom: url('../assets/images/bg-curvy-mobile.svg');
}
body{
  font-family: var(--open);
  background-color: var(--dark-blue-10);
  margin: 0;
}