.wave{
  position: absolute;
  inset-block-end: 0;
  inline-size: 100%;
  block-size: 40%;
  background-color: var(--dark-blue-20);
}
.wave::before{
  content: '';
  inline-size: 100%;
  block-size: 6.25rem;
  position: absolute;
  inset-block-start: -6.25rem;
  background-image: var(--wave-bottom);
  background-repeat: no-repeat;
  background-size: 100% 6.25rem;
}
@media screen and (min-width: 768px){
  .wave::before{
    --wave-bottom: url('../assets/images/bg-curvy-desktop.svg');
  }
}