.build{
  position: relative;
  --wave-top: url('../assets/img/bg-section-bottom-mobile-2.svg');
  --wave-bottom: url('../assets/img/bg-footer-top-mobile.svg');
  padding: 12rem 0 13rem;
}
.buildContainer{
  text-align: center;
  font-family: var(--open);
}
.build-title{
  font-size: 1.6rem;
  margin: 0;
  margin-block-end: 2rem;
}
@media screen and (min-width: 768px){
  .build{
    padding: 12rem 0 13rem;
    --wave-top: url('../assets/img/bg-section-bottom-desktop-2.svg');
    --wave-bottom: url('../assets/img/bg-footer-top-desktop.svg');
  }
}