@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
@import './container.css';
@import './cta.css';
@import './button.css';
@import './nav.css';
@import './hero.css';
@import './service.css';
@import './build.css';
:root{
  --pink: hsl(322, 100%, 66%);
  --light_pink: hsl(321, 100%, 78%);
  --light_red: hsl(0, 100%, 63%);
  --very_dark-cyan: hsl(192, 100%, 9%);
  --very_pale-blue: hsl(207, 100%, 98%);
  --gray: #95969b;
  --blue: #e7f5fcc0;
  --poppins: 'Poppins', sans-serif;
  --open: 'Open Sans', sans-serif;
}
body{
  margin: 0;
  min-block-size: 37.5rem;
}