.services{
  display: flex;
  flex-direction: column;
}
.service{
  font-family: var(--open);
  position: relative;
  padding: 5rem 0;
}
.serviceContainer{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.service:nth-of-type(odd){
  background-color: var(--very_pale-blue);
}
.service:nth-of-type(2){
  padding: 12rem 0;
  position: relative;
  --wave-top: url('../assets/img/bg-section-bottom-mobile-1.svg');
  --wave-bottom: url('../assets/img/bg-section-top-mobile-2.svg');
}
.service-text{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  inline-size: 90%;
}
.service-title{
  font-family: var(--poppins);
  margin: 0;
}
.service-details{
  margin: 0;
}
.service-image{
  max-inline-size: 25rem;
  margin: 0 auto;
}
.service-image img{
  inline-size: 100%;
  block-size: 100%;
}
@media screen and (min-width: 768px){
  .serviceContainer{
    align-items: center;
    flex-direction: row;
    gap: 10rem;
    padding: 0 3rem;
  }
  .service-text{
    text-align: left;
  }
  .service:nth-of-type(odd) .service-image{
    order: 1;
  }
  .service:nth-of-type(2){
    --wave-top: url('../assets/img/bg-section-bottom-desktop-1.svg');
    --wave-bottom: url('../assets/img/bg-section-top-desktop-2.svg');
  }
    
}