.services{
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding-block-start: 4rem;
  margin-block-end: 8rem;
}
.service{
  font-family: var(--open);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: relative;
}
.service:nth-of-type(odd){
  /* border: 2px solid red; */
  background-color: var(--blue);
}
/* .service:nth-of-type(odd)::before{
  content: '';
  inline-size: 100%;
  block-size: 10rem;
  background-image: url('../assets/img/bg-section-top-mobile-1.svg');
  background-repeat: no-repeat;
  position: absolute;
  inset-block-start: -6rem;
  inset-inline-start: 0;
  border: 2px solid red;
} */
.service-text{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.service-title{
  font-family: var(--poppins);
  margin: 0;
}
.service-details{
  margin: 0;
}
.service-image{
  max-inline-size: 25rem;
  margin: 0 auto;
}
.service-image img{
  inline-size: 100%;
  block-size: 100%;
}
@media screen and (min-width: 768px){
  .service{
    align-items: center;
    flex-direction: row;
    gap: 10rem;
  }
  .service:nth-of-type(odd) .service-image{
    order: 1;
  }
}