:root{
  --max-inline-size: 75rem;
}
body{
  margin: 0;
}
html{
  font-family: sans-serif;
}
.galleryContainer{
  max-inline-size: var(--max-inline-size);
  margin: 0 auto;
  padding: 1rem;
}
.gallery-title{
  font-size: 2rem;
  border-block-end: .4rem solid rgb(97, 73, 233);
  padding-block-end: .8rem;
  margin-block-start: 2rem;
  margin-block-end: 3rem;
}
.gallery{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
.gallery-item{
  transition: .6s background-image;
  position: relative;
  overflow: hidden;
}
.gallery-link::after{
  content: 'Texto de la imágen';
  color: white;
  font-size: 1.5rem;
  padding: 1rem 0;
  text-align: center;
  display: inline-block;
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  background-image: linear-gradient(120deg, #8214e971 0%, #532cdf6b 100%);
  transform: translateY(100%);
  transition: .4s transform;
}
.gallery-link:hover::after{
  transform: translateY(0);
}
.gallery-link img{
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
/* ************+ Modal ************ */
.modal{
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  position: fixed;
  inset-block-start: 0;
  inset-inline-end: 0;
  transition: .3s transform;
  background-color: rgba(125, 118, 118, 0.568);
}
.modal-img{
  background-image: url('./img/imagen1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  inline-size: 90%;
  block-size: 60%;
  position: relative;
  display: inline-block;
}
.modal:nth-of-type(2) figure{
  background-image: url('./img/imagen2.jpg');
}
.modal:nth-of-type(3) figure{
  background-image: url('./img/imagen3.jpg');
}
.modal:nth-of-type(4) figure{
  background-image: url('./img/imagen4.jpg');
}
.modal:nth-of-type(5) figure{
  background-image: url('./img/imagen5.jpg');
}
.modal:nth-of-type(6) figure{
  background-image: url('./img/imagen6.jpg');
}
.modal-cta{
  background-color: red;
  text-decoration: none;
  color: white;
  border-radius: 50%;
  position: absolute;
  font-size: 2rem;
  inset-block-start: -20px;
  inset-inline-end: -15px;
  inline-size: 3.125rem;
  line-height: 3.125rem;
  text-align: center;
}
.modal:target{
  transform: scale(1);
}