@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
:root{
  --baseFont: 'Raleway', sans-serif;
  --box-shadow: 6px 6px 10px rgba(0,0,0,.6);
  --img: url("https://images.unsplash.com/photo-1628522300947-065b5ddcd3de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  --linear-geadient: linear-gradient(to right, #415ccaa8 0%, #9d4cd4a8 100%);
  --white: #FFF;
}
html{
  font-family: var(--baseFont);
}
body{
  margin: 0;
}
.container{
  block-size: 100vh;
  background-image: var(--linear-geadient), var(--img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: .1px;
}
.form-container{
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  max-inline-size: 25rem;
  margin: 0 auto;
  margin-block-start: 10rem;
  text-align: center;
  padding-block-end: 2rem;
  padding-block-start: 2rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
}
.form-name,
.form-email,
.form-message{
  box-sizing: border-box;
  border: 1px solid rgba(119, 114, 114, 0.281);
  font-family: var(--baseFont);
  display: block;
  inline-size: 100%;
  margin-block-end: 1rem;
  padding-block-end: 1rem;
  padding-block-start: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}
.form-name:hover,
.form-email:hover,
.form-message:hover{
  box-shadow: 5px 2px 10px 0 rgba(116, 109, 109, 0.495);
}
.form-title{
  font-size: 2rem;
  margin: 0;
  margin-block-end: 2.5rem;
}
.form-message{
  resize: none;
}
.form-cta{
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--white);
  background-image: var(--linear-geadient);
  border: none;
  border-radius: .25rem;
  display: block;
  inline-size: 100%;
  padding-block-end: 1rem;
  padding-block-start: 1rem;
}
.form-cta:hover{
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}
@media screen and (max-width: 550px){
  .form-container{
    width: 70%;
  }
  .form-title{
    font-size: 1.5rem;
    margin-block-end: 1.5rem;
  }
  .form-cta{
    font-size: 0.875rem;
  }
}