@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
  margin: 0;
}
.gallery{
  max-inline-size: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}
.gallery-title{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin-block-start: 4rem;
  margin-block-end: 2rem;
}
.galleryContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.gallery-item{
  min-block-size: 250px;
  min-inline-size: 250px;
  flex: 320px;
}
.gallery-item img{
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}